{
    "user_credentials": [
        {
            "spotify_client_id": "key",
            "spotify_client_secret": "key",
            "spotify_playlist_key": "key",
            "spotify_redirect_uri": "https://localhost:8888/callback",
            "ytm_client_id": "key",
            "ytm_client_secret": "key",
            "ytm_playlist_key": "key"
        }
    ]
}
